.books-list{
  text-align: center;
  margin-top: 70px;
  h1{
    text-align: center;
  }
  p{
    max-width: 880px;
    margin: 16px auto;
  }
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.column {
  height: 150px;
  width: 150px;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}

#columns{
  max-width: 1282px;
  margin: 0 auto;
}
.column {
  header {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,
                                 color-stop(0, rgb(0,0,0)),
                                 color-stop(0.50, rgb(79,79,79)),
                                 color-stop(1, rgb(21,21,21)));
    background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
  }
  .over {
    border: 2px dashed #000;
  }
}

.book-block{
  display: inline-block;
  text-align: center;
  vertical-align:top;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  padding-bottom: 43px;
  .img-block{
    height: 343px;
  }
  img{
    padding-top: 20px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .description{
    font-size: 19px;
    line-height: 26px;
  }
  &.over{
    border-left: 1px #fe5552 solid;
    position: relative;
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      background-color: #fe5552;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      left: -4px;
      top: 458px;
    }
    &:before{
      content: '';
      display: inline-block;
      position: absolute;
      background-color: #fe5552;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      left: -4px;
    }
  }
  &.hold img{
    //box-shadow: 0px 17px 96px -5px rgba(0,0,0,0.75);
    transform: scale(1.2);
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  }
}

button.more{
  cursor: pointer;
  text-align: center;
  color: #4283c0;
  font-size: 17px;
  background-color: white;
  border: 1px #95c1e5 solid;
  padding: 11px 60px 9px 60px;
  border-radius: 6px;
}
